<div class="main-container" >
  <div *ngIf="loader"> 
    <div class="cs-loader">
      <img src="assets/img/loader.png" class="rotate"> 
    </div>
  </div>
    <div class="middle-container">
      <div class="page-heading">
        <img src="assets/img/holiday.svg" class="h-icon">
        <div class="heading-text pr20">
          <h2>Leaves & Holidays</h2>
          <p>Add New Leave Rule & Holiday</p>
        </div>
      </div>
      <div class="tabs left-auto">
        <ul>
          <li><a routerLink="/leave-rule-list" routerLinkActive="active">LEAVES RULES</a></li>
          <li><a routerLink="/holiday-list" routerLinkActive="active">HOLIDAYS</a></li>
        </ul>
      </div>
    </div>
    

    <div class="container-outer">
    <div class="container" >
      <div class="row">
        <div class="col s12">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table class="sno-border">
                <tr>
                  <th  class="w30">&nbsp;</th>
                  <th class="w100">Day</th>
                  <th class="w100">Date</th>
                  <th class="w180">Holiday</th>
                  <th>State</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table class="sno-border">
                  <tr *ngFor="let holiday of holidays">
                    <td class="w30"></td>
                    <td class="w100">{{holiday.date|date:' EEEE '}}</td>
                    <td class="w100">{{holiday.date|date:'d MMM y'}} </td>
                    <td class="w180  green-clr">{{holiday.title}}</td>
                    <td class="green-clr">{{holiday.states}}
                    <div  *ngIf="this.role==1" class="action-btns">
                        <!-- <a mat-button class="view"><i class="material-icons">remove_red_eye</i> View</a> -->
                        <button  mat-button class="delete" (click)="deleteHoliday(holiday.holidayId)"><i class="material-icons">delete_sweep</i> Delete</button>
                    </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="div" class="data-not-available" >
      <div class="outer">
        <div class="iinear">
          <div class="figure" matRipple>
            <div class="header">
              <img src="assets/img/data-not-available-header.svg" alt="">
            </div>
            
            <div class="description">
            
              <div class="img">
                <i class="material-icons">error_outline</i>
              </div>
              <div class="psc">
                <p>data not available</p>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="userdata.role==1 && userdata.superAdmin" class="fixed-multibtn-botm">
      <ul>
        <li><a  matTooltip="Add New" routerLink="/add-leave-rules" routerLinkActive="active" matRipple><i class="material-icons">add</i></a></li>
      </ul>
    </div>
  </div>