<div class="main-container">
  <div class="cs-loader" *ngIf="loader"> 
    <img src="assets/img/loader.png" class="rotate">
  </div>
  
  <div class="middle-container pb15">
    <div class="page-heading">
      <div class="heading-text bc-space">
        <div class="back-btn">
          <a mat-button routerLink="/list-travel" routerLinkActive="active" ><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <h2>{{travelDetail.userName}}</h2>
        <!-- <p class="light">Sub Admin</p> -->
      </div>
    </div>
    
    <div class="left-auto" *ngIf="travelDetail.status==1">
      <div class="cs-btn text-right">
        <div class="in-btn">
          <a mat-raised-button color="accent" (click)="addOnDetail(0)" >Add New Date</a>
        </div>
      </div>
    </div>
    <!-- <div class="tabs right-tab">
      <ul>
        <li><a routerLink="/sale-user-detail" routerLinkActive="active">DETAIL</a></li>
        <li><a routerLink="/my-network" routerLinkActive="active">My Network</a></li>
        <li><a routerLink="/user-order" routerLinkActive="active">ORDERS</a></li>
        <li><a>LEADS</a></li>
        <li><a>FOLLOWUP</a></li>
        <li><a routerLink="/target" routerLinkActive="active">Target</a></li>
        <li><a routerLink="/travel-plan" routerLinkActive="active">Travel Plan</a></li>
      </ul>
    </div> -->
  </div>
  
  
  <div class="container-outer pt0">
    <div class="container" >
      <div class="row">
        <div class="col s12 padding0">
          <div class="sprate-box pt0  mb15">
            <div class="cs-heading">
              <h2>Travel Detail</h2>
            </div>
            <div class="row mt15 mb15">
              <div class="col s12 cs-figure">
                <ul>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Year</span>
                        <p>{{travelDetail.year}}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Month</span>
                        <p *ngIf="travelDetail.month==1" >January</p>
                        <p *ngIf="travelDetail.month==2">February</p>
                        <p *ngIf="travelDetail.month==3">March</p>
                        <p *ngIf="travelDetail.month==4">April</p>
                        <p *ngIf="travelDetail.month==5">May</p>
                        <p *ngIf="travelDetail.month==6">June</p>
                        <p *ngIf="travelDetail.month==7">July</p>
                        <p *ngIf="travelDetail.month==8">August</p>
                        <p *ngIf="travelDetail.month==9">September</p>
                        <p *ngIf="travelDetail.month==10">October</p>
                        <p *ngIf="travelDetail.month==11">November</p>
                        <p *ngIf="travelDetail.month==12">December</p>
                        <!-- <p>{{travelDetail.month}}</p> -->
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Travel Budget</span>
                        <p>&#8377;  {{travelDetail.travelBudget}}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="outer">
                      <div class="inner">
                        <span>Sales Budget</span>
                        <p>&#8377;  {{travelDetail.salesBudget}}</p>
                      </div>
                    </div>
                  </li>
                  
                  
                  <li *ngIf="travelDetail.status==2||travelDetail.status==3" class="pending">
                    <div class="outer">
                      <div class="inner">
                        <span>Status</span>
                        <p>Pending</p>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="travelDetail.status==5" class="approved">
                    <div class="outer">
                      <div class="inner">
                        <span>Status</span>
                        <p>Approve</p>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="travelDetail.status==4||travelDetail.status==6" class="reject">
                    <div class="outer">
                      <div class="inner">
                        <span>Status</span>
                        <p>Reject</p>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="userId==travelDetail.createBy && travelDetail.status==1" class="draft">
                    <div class="outer">
                      <div class="inner">
                        <span>Status</span>
                        <p>Draft</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div *ngIf="travelDetail.status==2 && travelDetail.createBy!=userId" class="row mt15 mb15">
              <div class="col s6 cs-figure">
                <ul>
                  <li style="border: 1px solid #B29D9D">
                    <div class="outer">
                      <div class="inner">
                        <div class="from-fields">
                          <div class="dflex">
                            <div class="control-field wp100">
                              <mat-form-field class="cs-input infix-bodr">
                                <mat-select placeholder="Select Travel Plan Status" #status="ngModel" [(ngModel)]="travel.status" >
                                  <mat-option value=3>Approve</mat-option>
                                  <mat-option value=4>Reject</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            
                            <div class="control-field  wp100 ml10" *ngIf="travel.status==3">
                              <mat-form-field class="cs-input infix-bodr">
                                <mat-select placeholder="Select For Sales Budget Approval" name="travelApprovedBy" #travelApprovedBy="ngModel" [(ngModel)]="travel.travelApprovedBy" >
                                  <mat-option *ngFor="let user of financeUserList" value="{{user.userId}}">{{user.userName}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            
                            <div class="control-field wp100 ml10" *ngIf="travel.status==4">
                              <mat-form-field class="cs-input infix-bodr">
                                <textarea matInput placeholder="Reason for Rejection" name="travelRejectionReason" #travelRejectionReason="ngModel" [(ngModel)]="travel.travelRejectionReason" class="h45"></textarea>
                              </mat-form-field>
                            </div>
                            
                            <div class="cs-btn ml10">
                              <div class="in-btn">
                                <button mat-raised-button color="accent"  mat-stroked-button (click)="saveTravelStatus()" >Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <div *ngIf="travelDetail.status==3 && userRole==17" class="row mt15 mb15">
              <div class="col s6 cs-figure">
                <ul>
                  <li style="border: 1px solid #B29D9D">
                    <div class="outer">
                      <div class="inner">
                        <div class="from-fields">
                          <div class="dflex">
                            <div class="control-field wp100">
                              <mat-form-field class="cs-input infix-bodr">
                                <mat-select placeholder="Select Travel Plan Status" #status="ngModel" [(ngModel)]="travel.status" >
                                  <mat-option value=5>Approve</mat-option>
                                  <mat-option value=6>Reject</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="control-field wp100 ml10" *ngIf="travel.status==6">
                              <mat-form-field class="cs-input infix-bodr">
                                <textarea matInput placeholder="Reason for Rejection" name="salesRejectionReason" #salesRejectionReason="ngModel" [(ngModel)]="travel.salesRejectionReason" class="h45"></textarea>
                              </mat-form-field>
                            </div>
                            <div class="cs-btn ml10">
                              <div class="in-btn">
                                <button mat-raised-button color="accent"  mat-stroked-button (click)="saveSalesStatus()" >Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="cs-table left-right-15">
            <div class="table-head sticky-head top130">
              <table class="sno-border">
                <tr>
                  <th class="w30">&nbsp;</th>
                  <th class="w170">Date</th>
                  <th class="padding0">
                    <table>
                      <tr>
                        <th>State</th>
                        <th>District</th>
                        <th>City</th>
                        <th class="w130 text-center">Sales Activity</th>
                        <th class="w120 text-right">Sales Budget</th>
                        <th *ngIf="travelDetail.status!=5 && userId==travelDetail.createBy && travelDetail.status!=3" class="w110 text-center">Action</th>
                        <th *ngIf="travelDetail.status!=5 && userId==travelDetail.createBy && travelDetail.status!=3"class="w80 text-center">ADD</th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </table>
            </div>
            <div class="table-container ">
              <div class="table-content">
                <!-- <table>
                  <tr *ngFor="let list of travelDetail.travelDetails">
                    <td class="w300">{{list.planDate | date :'EEEE, MMMM d, y'}}</td>
                    <td class="w220">{{list.details}}</td>
                    <td class="w200">{{list.actual}}</td>
                    <td>{{list.reasonForDeviation}}
                      <div class="action-btns" *ngIf="travelDetail.status==1">
                        <a mat-button class="view" (click)="updateTravel(list)"><i class="material-icons">edit</i> Edit</a>
                      </div>
                    </td>
                  </tr>
                </table> -->
                
                <table class="sno-border">
                  <tr *ngFor="let plan of planArray;let i=index">
                    <td class="w30">{{i+1}}</td>
                    <td class="w170">{{plan.planDate | date :'EEEE, MMMM d, y'}}</td>
                    <td class="padding0">
                      <table class="inner-table">
                        <tr *ngFor="let detail of plan.plandDetail">
                          <td >{{detail.state}}</td>
                          <td>{{detail.district}}</td>
                          <td>{{detail.city}}</td>
                          <td class="w130 text-center">{{detail.salesActivity?'Yes':'No'}}</td>
                          <td class="w120 text-right">&#x20B9; {{detail.salesBudget?detail.salesBudget:'NA'}}</td>
                          <td *ngIf="travelDetail.status!=5 && userId==travelDetail.createBy && travelDetail.status!=3" class="w110">
                            <div class="action-btns default-action" style="right: 3px;">
                              <a mat-button class="edit" (click)="updateTravel(detail)"><i class="material-icons">create</i></a>
                              <button  mat-button class="delete" (click)="deleteTravelPlan(detail.travelDetailId)"><i class="material-icons">delete_sweep</i></button>
                            </div>
                          </td>
                          
                        </tr>
                        
                      </table>
                    </td>
                    <td *ngIf="travelDetail.status!=5 && userId==travelDetail.createBy && travelDetail.status!=3" class="w80 text-center">
                      <div class="in-btn">
                        <a mat-button color="accent" matTooltip="Add Plan" (click)="addOnDetail(plan.planDate)"><i class="material-icons">
                          add_circle
                        </i></a>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 padding0" *ngIf="travelDetail.status==1">
        <div class="cs-btn fixedd mt15 text-right">
          <div class="in-btn">
            <button mat-raised-button color="accent"(click)="updatedstatus(travelDetail.travelPlanID,2)" >Submit</button>
          </div>
        </div>
      </div>
      <div class="col s12 padding0" *ngIf="travelDetail.status==4||travelDetail.status==6" >
        <div class="cs-btn mt15 text-right">
          <div class="in-btn">
            <button mat-raised-button color="accent"(click)="updatedstatus(travelDetail.travelPlanID,2)">Re-submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="h50"></div>

