<form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
  <div class="main-container">
    <div *ngIf="loader"> 
      <div class="cs-loader">
        <img src="assets/img/loader.png" class="rotate"> 
      </div>
    </div>
    <div class="middle-container">
      <div class="page-heading">
        <img src="assets/img/activity.svg" class="h-icon">
        <div class="heading-text">
          <h2>DVR</h2>
          <p>Add DVR</p>
        </div>
      </div>
    </div>
    <div class="container-outer">
      <div class="container" >
        <div class="row">
          <div class="col s12">
            <div class="sprate-box  pt0">
              <div class="cs-heading">
                <h2>Checkin Date And Time</h2>
              </div>
              <div class="from-fields">
                <div class="row">
                  <div class="col s4 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input infix-bodr8">
                        <input matInput [matDatepicker]="pickers1" readonly [max]='currentDate' 
                        (dateChange)="getlocation()"  placeholder="Check In Date" #activitydate="ngModel" id="activitydate" name="activitydate" [(ngModel)]="activityData.activitydate"  [ngClass]="{ 'is-invalid': f.submitted && activitydate.invalid }" required>
                        <mat-datepicker-toggle matSuffix [for]="pickers1"></mat-datepicker-toggle>
                        <mat-datepicker #pickers1></mat-datepicker>
                      </mat-form-field>
                      <mat-error *ngIf="f.submitted && activitydate.invalid" class="invalid-feedback">
                        <mat-error *ngIf="activitydate.errors.required">Checkin Date is required</mat-error>
                      </mat-error>
                    </div>
                  </div>
                  <!-- <div class="col s4" *ngIf="activityData.activitydate">
                    <div class="control-field mt14">
                      <div class="cs-input">
                        <input placeholder="Check In Time" #activityInTime="ngModel" name="activityInTime" [(ngModel)]="activityData.activityInTime" id="activityInTime" [format]="12" [ngxTimepicker]="default" [ngClass]="{ 'is-invalid': (f.submitted && activityInTime.invalid) && (activityData.activityInTime < timecheckinfirst || timecheckinlast < activityData.activityInTime)}" readonly required>
                      </div>
                    </div>
                    <ngx-material-timepicker #default (click)="check1()"></ngx-material-timepicker>
                    <mat-error *ngIf="f.submitted && activityInTime.invalid" class="invalid-feedback">
                      <mat-error *ngIf="activityInTime.errors.required">Check In Time is required</mat-error>
                    </mat-error>
                    <mat-error *ngIf="activityData.activityInTime < timecheckinfirst || timecheckinlast < activityData.activityInTime" class="invalid-feedback">
                      <mat-error *ngIf="activityData.activityInTime < timecheckinfirst || timecheckinlast < activityData.activityInTime">Check-In time must be between 06:00 AM to 10:00 PM</mat-error>
                    </mat-error>
                  </div> -->
                  <div class="col s4"  *ngIf="activityData.activitydate">
                    <div class="control-field mt14">
                      <div class="cs-input">
                        <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" placeholder="Check In Time" name="activityInTime" #activityInTime="ngModel"  (dateTimeInput)="check1(activityData.activityInTime)" [(ngModel)]="activityData.activityInTime" [ngClass]="{ 'is-invalid': (f.submitted && activityInTime.invalid) && (datenotvalid==true)}" readonly required>
                        <owl-date-time [pickerType]="'timer'" [hour12Timer]='true'  #dt5 ></owl-date-time>
                      </div>
                    </div>
                    <mat-error *ngIf="f.submitted && activityInTime.invalid" class="invalid-feedback">
                      <mat-error *ngIf="activityInTime.errors.required">Check In Time is required</mat-error>
                    </mat-error>
                    <mat-error *ngIf="datenotvalid==true" class="invalid-feedback">
                      <mat-error *ngIf="datenotvalid==true">Check-In time must be between 06:00 AM to 10:00 PM</mat-error>
                    </mat-error>
                  </div>
                  
                  <!-- <div class="col s4 pr0"  *ngIf="activityData.activitydate">
                    <div class="control-field mt14">
                      <div class="cs-input">
                        <input placeholder="Check Out Time" #activityOutTime="ngModel" name="activityOutTime" [(ngModel)]="activityData.activityOutTime"  id="activityOutTime" [format]="12" [ngxTimepicker]="default1" [ngClass]="{ 'is-invalid': (f.submitted && activityOutTime.invalid)  && (activityData.activityOutTime < timecheckoutfirst || timecheckoutlast < activityData.activityOutTime) && (activityData.activityInTime > this.activityData.activityOutTime)}" readonly required>
                      </div>
                    </div>
                    <ngx-material-timepicker #default1 (click)="check2()"></ngx-material-timepicker>
                    <mat-error *ngIf="f.submitted && activityOutTime.invalid" class="invalid-feedback">
                      <mat-error *ngIf="activityOutTime.errors.required">Check Out Time is required</mat-error>
                    </mat-error>
                    <mat-error *ngIf="activityData.activityOutTime < timecheckoutfirst || timecheckoutlast < activityData.activityOutTime" class="invalid-feedback">
                      <mat-error *ngIf="activityData.activityOutTime < timecheckoutfirst || timecheckoutlast < activityData.activityOutTime">Check-Out time must be between 07:00 AM to 11:00 PM</mat-error>
                    </mat-error>
                    <mat-error *ngIf="f.submitted && activityData.activityInTime > this.activityData.activityOutTime" class="invalid-feedback">
                      Check-Out time should be greater then Check-In time....
                    </mat-error>
                  </div> -->
                  <div class="col s4"  *ngIf="activityData.activitydate">
                    <div class="control-field mt14">
                      <div class="cs-input">
                        <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" placeholder="Check Out Time" name="activityOutTime" #activityOutTime="ngModel" (dateTimeInput)="check2(activityData.activityOutTime)" [(ngModel)]="activityData.activityOutTime" [ngClass]="{ 'is-invalid': (f.submitted && activityOutTime.invalid)  && (dateoutnotvalid==true)}" readonly required>
                        <owl-date-time [pickerType]="'timer'" #dt5 [hour12Timer]='true' ></owl-date-time>
                      </div>
                    </div>
                    <mat-error *ngIf="f.submitted && activityOutTime.invalid" class="invalid-feedback">
                      <mat-error *ngIf="activityOutTime.errors.required">Check Out Time is required</mat-error>
                    </mat-error>
                    <mat-error *ngIf="dateoutnotvalid==true" class="invalid-feedback">
                      <mat-error *ngIf="activityData.activityOutTime < timecheckoutfirst || timecheckoutlast < activityData.activityOutTime">Check-Out time must be between 07:00 AM to 11:00 PM</mat-error>
                    </mat-error>
                    <mat-error *ngIf="f.submitted && dateoutnotvalid==true" class="invalid-feedback">
                      Check-Out time should be greater then Check-In time....
                    </mat-error>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col s4 pl0" *ngIf="activityData.activityInTime && activityData.activityOutTime">
                    <!-- <div class="control-field">
                      <mat-form-field class="cs-input">
                        <mat-select placeholder="Select Location" name="locationId" #locationId="ngModel" [(ngModel)]="activityData.locationId" id="locationId" [ngClass]="{ 'is-invalid': f.submitted && locationId.invalid }" required>
                          <mat-option value="1">agra</mat-option>
                          <mat-option value="2">kanpur</mat-option>
                          <mat-option value="3">delhi</mat-option>
                          <mat-option value="4">faridabad</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error *ngIf="f.submitted && locationId.invalid" class="invalid-feedback">
                        <mat-error *ngIf="locationId.errors.required">Location is required</mat-error>
                      </mat-error>
                    </div> -->
                    <div class="control-field">
                      <mat-form-field class="cs-input">
                          <textarea matInput placeholder="Location" name="location" #location="ngModel"  id="location"  [(ngModel)]="activityData.location" [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" required ></textarea>
                      </mat-form-field>
                      <mat-error *ngIf="f.submitted && location.invalid" class="invalid-feedback">
                        <mat-error *ngIf="location.errors.required">Location is required</mat-error>
                      </mat-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sprate-box pt0 mt15">
              <div class="cs-heading">
                <h2>Dealer Information</h2>
                <span class="required">Indicates required fields ( <sup>*</sup> )</span>
              </div>
              <div class="from-fields">
                <div class="row">
                  <div class="col s6 pl0">
                    <div class="control-field">
                      <mat-form-field class="cs-input infix-bodr8">
                        <mat-select  placeholder="Select Network" id="role" name="role" [(ngModel)]="activityData.role" #role="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && role.invalid }" required>
                          <mat-option  (click)="getnetworklist(role.roleId)" *ngFor="let role of client1" value="{{role.roleId}}">{{role.roleName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error *ngIf="f.submitted && role.invalid" class="invalid-feedback">
                        <mat-error *ngIf="role.errors.required">Network  is required</mat-error>
                      </mat-error>
                    </div>
                  </div>
                  <div class="col s6 pr0">
                    <div class="control-field">
                      <mat-form-field class="cs-input infix-bodr8">
                        <mat-select  placeholder="Select Company"  id="referenceId" name="referenceId" #referenceId="ngModel" [(ngModel)]="activityData.referenceId" [ngClass]="{ 'is-invalid': f.submitted && referenceId.invalid }" required>
                          <mat-option  *ngFor="let netdata of distributionList" [value]="netdata.networkId">{{netdata.establishment}}</mat-option>
                          <mat-option  *ngFor="let lead of networkLeadList" [value]="lead.leadId">{{lead.establishment}}</mat-option>
                          <mat-option value="10">Other User</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error *ngIf="f.submitted && referenceId.invalid" class="invalid-feedback">
                        <mat-error *ngIf="referenceId.errors.required">Company is required</mat-error>
                      </mat-error>
                    </div>
                  </div>
                  <div *ngIf="activityData.referenceId=='10'" class="row">
                    <div  class="col s4 ">
                      <div class="control-field">
                        <mat-form-field class="cs-input">
                          <input matInput placeholder="Name" id="OtherCustomer" name="OtherCustomer" #OtherCustomer="ngModel" [(ngModel)]="activityData.OtherCustomer" [ngClass]="{ 'is-invalid': f.submitted && OtherCustomer.invalid }">
                        </mat-form-field>
                        <mat-error *ngIf="f.submitted && OtherCustomer.invalid" class="invalid-feedback">
                          <mat-error *ngIf="OtherCustomer.errors.required">Name is required</mat-error>
                        </mat-error>
                      </div>
                    </div>
                    <div class="col s4">
                      <div class="control-field">
                        <mat-form-field class="cs-input infix-bodr8">
                          <mat-select multiple placeholder="Select Segment"  id="segment" name="segment" #segment="ngModel" [(ngModel)]="activityData.segment" [ngClass]="{ 'is-invalid': f.submitted && segment.invalid }" required>
                            <mat-option value="2w">2w</mat-option>
                            <mat-option value="3w">3w</mat-option>
                            <mat-option value="4w">4w</mat-option>
                            <mat-option value="6w">6w</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="f.submitted && segment.invalid" class="invalid-feedback">
                          <mat-error *ngIf="segment.errors.required">Segment is required</mat-error>
                        </mat-error>
                      </div>
                    </div>
                    <div  class="col s4">
                      <div class="control-field">
                        <mat-form-field class="cs-input">
                          <input matInput placeholder="Mobile no" id="mobile" name="mobile" #mobile="ngModel" minlength="10" maxlength="10" [(ngModel)]="activityData.mobile" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" required>
                        </mat-form-field>
                        <mat-error *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                          <mat-error *ngIf="mobile.errors.required">Mobile is required</mat-error>
                        </mat-error>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sprate-box mt15 pt0">
              <div class="cs-heading">
                <h2>Check In Information</h2>
              </div>
              <div class="from-fields">
                <div class="row">
                  
                  <div class="col s6 padding0">
                    <div class="row">
                      <div class="col s12 pl0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <mat-select placeholder="Objective Of Visit" id="objectivesOfVisit" name="objectivesOfVisit" #objectivesOfVisit="ngModel" [(ngModel)]="activityData.objectivesOfVisit" [ngClass]="{ 'is-invalid': f.submitted && objectivesOfVisit.invalid }" required>
                              <mat-option value="1">Routine Visit</mat-option>
                              <mat-option value="2">Order</mat-option>
                              <mat-option value="3">Payment</mat-option>
                              <mat-option value="4">Order + Payment</mat-option>
                              <mat-option value="5">Concern Handling</mat-option>
                              <mat-option value="6">Other</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-error *ngIf="f.submitted && objectivesOfVisit.invalid" class="invalid-feedback">
                            <mat-error *ngIf="objectivesOfVisit.errors.required">Objective Of Visit is required</mat-error>
                          </mat-error>
                        </div>
                      </div>
                      <div class="col s12 pl0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <mat-select placeholder="Next Followup Type" name="nextFollowUpType" #nextFollowUpType="ngModel" id="nextFollowUpType" [(ngModel)]="activityData.nextFollowUpType">
                              <mat-option value="1">Call</mat-option>
                              <mat-option value="2">Meeting</mat-option>
                              <mat-option value="3">Email</mat-option>
                              <mat-option value="4">Task</mat-option>
                              <mat-option value="5">Other</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col s12 pl0" *ngIf="activityData.nextFollowUpType!=4 && activityData.nextFollowUpType!=5">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <input matInput [matDatepicker]="pickers" readonly [min]='currentDate' id="nextFollowUpDate" placeholder="Next Followup Date" #nextFollowUpDate="ngModel" name="nextFollowUpDate" [(ngModel)]="activityData.nextFollowUpDate" >
                            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                            <mat-datepicker #pickers></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      
                     
                      
                    </div>
                  </div>
                  
                  <div class="col s6 padding0">
                    <div class="row">
                      <div class="col s12 pr0" *ngIf="activityData.objectivesOfVisit=='6'">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <input matInput placeholder="Other" name="OtherObjective"  id="OtherObjective"  name="OtherObjective" #OtherObjective="ngModel" [(ngModel)]="activityData.OtherObjective" [ngClass]="{ 'is-invalid': f.submitted && OtherObjective.invalid }" >
                          </mat-form-field>
                          <mat-error *ngIf="f.submitted && OtherObjective.invalid" class="invalid-feedback">
                            <mat-error *ngIf="OtherObjective.errors.required">Reason is required</mat-error>
                          </mat-error>
                        </div>
                      </div>
                      
                      <div class="col s12 pr0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <textarea matInput placeholder="Remark" name="remarks" #remarks="ngModel"  id="remarks"  [(ngModel)]="activityData.remarks" [ngClass]="{ 'is-invalid': f.submitted && remarks.invalid }" required class="h166"></textarea>
                          </mat-form-field>
                          <mat-error *ngIf="f.submitted && remarks.invalid" class="invalid-feedback">
                            <mat-error *ngIf="remarks.errors.required">Remark is required</mat-error>
                          </mat-error>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="cs-btn fixedd mt15 text-right">
            <div class="in-btn">
              <button mat-raised-button color="accent" (click)="setFocus(f.form)">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="h50"></div>