<div class="main-container">
    <div class="middle-container padding0">
      <div class="master-heading">
            <div class="top-pagination m-right-data">
              <ul>
                <li class="refresh-area">
                  <a class="refresh-btn" mat-raised-button  matTooltip="Refresh"><i class="material-icons"> refresh</i></a>
                </li>
                <li><p>Pages 2 of 6</p></li>
                <li><button mat-button class="left-btn"><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO"></li>
                <li><button mat-button class="right-btn"><i class="material-icons">keyboard_arrow_right</i></button></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="container-outer">
          <div class="container" >
            <div class="row">
              <div class="col s12">
                <div class="cs-table left-right-20">
                  <div class="table-head">
                    <table class="sno-border"> 
                      <tr>
                        <th class="w30">&nbsp;</th>
                        <th>Created By & Date</th>
                        <th class="w120">Leave Type</th>
                        <th class="w120 text-center">Start Date</th>
                        <th class="w120">End date</th>
                        <th class="w120">Status</th>
                        <th class="w120">Action</th>
                      </tr>
                    </table>
                  </div>
                  
                  <div class="table-container">
                    <div class="table-content">
                      <table class="sno-border">
                        <tr>
                          <td class="w30">1</td>
                          <td>2 Jan 2018 / Rahul Dubey</td>
                          <td class="w120">Urgent Leave</td>
                          <td class="w120">13 May 2019</td>
                          <td class="w120">14 May 2019</td>
                          <td class="w120 red-clr">Reject</td>
                          <td class="w120">
                              <a class="link-btn" mat-button >Chanege Status</a>
                          </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2 Jan 2018 / Rahul Dubey</td>
                            <td>Urgent Leave</td>
                            <td>13 May 2019</td>
                            <td>14 May 2019</td>
                            <td class="red-clr">Reject</td>
                            <td>
                                <a class="link-btn" mat-button >Chanege Status</a>
                            </td>
                          </tr>
                      </table>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="h50"></div>