<div class="cs-loader" *ngIf="loader"> 
    <img src="assets/img/loader.png" class="rotate">
  </div>

<div class="edit-modal">
  <p class="heading">Update Scheme</p>
  <div mat-dialog-content style="overflow: hidden;">
    <div class="row from-fields">
      <div class="control-field">
        <mat-form-field  class="cs-input">
          <input matInput (dateChange)="checkValid()" [matDatepicker]="pickers" readonly placeholder="Scheme Start Date" [min]='currentDate' name="value" [(ngModel)]="schemeData.validFrom" >
          <mat-datepicker-toggle  matSuffix [for]="pickers"></mat-datepicker-toggle>
          <mat-datepicker #pickers></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row from-fields">
      <div class="control-field">
        <mat-form-field class="cs-input">
          <input matInput [matDatepicker]="pickers1" readonly placeholder="Scheme End Date" [min]='schemeData.validFrom' name="value" [(ngModel)]="schemeData.validTill" >
          <mat-datepicker-toggle matSuffix [for]="pickers1"></mat-datepicker-toggle>
          <mat-datepicker #pickers1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div mat-dialog-actions>
    <button mat-raised-button color="warn"  [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!schemeData.validFrom||!schemeData.validTill" [mat-dialog-close]="true" (click)="updateScheme()" >Save</button>
  </div>
</div>

