<div class="main-container">
  <div class="cs-loader" *ngIf="loader"> 
      <img src="assets/img/loader.png" class="rotate">
    </div>
  
<div class="middle-container">
  <div class="page-heading">
    <img src="assets/img/payment_icon.svg" class="h-icon">
    <div class="heading-text">
      <h2>Expense</h2>
      <p>Add Expense</p>
    </div>
  </div>
</div>


<div class="container-outer" >
  <div class="container" >
    <div class="row">
      <div class="col s12">
        <div class="sprate-box pt0 mb15">
          <div class="cs-heading">
            <h2>Local EXPENSE</h2>
          </div>
        </div>
      </div>
    </div>
    <form (ngSubmit)="f.form.valid && LocalConvenseExpense()" #f="ngForm" novalidate>
      <div class="cs-bill" >
        <div class="collaps flat-collaps mt15">
          <div class="collaps-area">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="outer-panel form-collaps mb10">
                  <mat-panel-title>
                    TRAVEL ENTITLEMENT
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="inner-body">
                    <div class="from-fields">
                      
                      <div class="row">
                        <div class="col s6 pl0">
                          <div class="row">
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput [matDatepicker]="days" [max]='currentDate' readonly placeholder="Date Of Visit" name="visitDate" #visitDate="ngModel" [(ngModel)]="localHQExpense.visitDate" >
                                  <mat-datepicker-toggle matSuffix [for]="days"></mat-datepicker-toggle>
                                  <mat-datepicker #days></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="From" name="from" #from="ngModel" [(ngModel)]="localHQExpense.from" >
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="To" name="to" #to="ngModel" [(ngModel)]="localHQExpense.to" >
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <mat-select placeholder="Type of Mode" name="modeType" #modeType="ngModel" [(ngModel)]="localHQExpense.modeType" >
                                    <mat-option *ngIf="allowanceList.length!=0 && (allowanceList.selfCarPerKM!=0 ||allowanceList.selfBikePerKM!=0 )" (click)="readonlyValue(localHQExpense.modeType)" value=1>SELF VEHICLE</mat-option>
                                    <mat-option (click)="readonlyValue(localHQExpense.modeType)" value=2>PUBLIC TRANSPORT</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <mat-select placeholder="Mode Of Travel" name="mode" #mode="ngModel" [(ngModel)]="localHQExpense.mode" >
                                    <mat-option value=10 *ngIf="localHQExpense.modeType==2">AUTO</mat-option>
                                    <mat-option value=1 *ngIf="localHQExpense.modeType==2">BUS</mat-option>
                                    <mat-option value=6 *ngIf="localHQExpense.modeType==2">AC TAXI</mat-option>
                                    <mat-option value=7 *ngIf="localHQExpense.modeType==2">NON-AC TAXI </mat-option>
                                    <mat-option value=5 *ngIf="localHQExpense.modeType==2">METRO </mat-option>
                                    <mat-option value=9 *ngIf="localHQExpense.modeType==1 && allowanceList.selfCarPerKM!=0">CAR</mat-option>
                                    <mat-option value=8 *ngIf="localHQExpense.modeType==1 && allowanceList.selfBikePerKM!=0">BIKE </mat-option>
                                    
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div *ngIf="localHQExpense.modeType==1" class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="Vehicle No" type="text" name="vehicleNumber" #vehicleNumber="ngModel" [(ngModel)]="localHQExpense.vehicleNumber">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div  class="row">
                            <div *ngIf="localHQExpense.modeType==1" class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="KMs Covered" type="number" (input)="calculateAmount(localHQExpense.mode,localHQExpense.distanceKMS)" name="distanceKMS" #distanceKMS="ngModel" [(ngModel)]="localHQExpense.distanceKMS">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="Amount" type="number" name="amount" #amount="ngModel" [(ngModel)]="localHQExpense.amount" readonly={{readonlyArea}} >
                                </mat-form-field>
                              </div>
                            </div>
                            
                            <div class="col s4">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="Other Exp." type="number" name="otherExpense" #otherExpense="ngModel" [(ngModel)]="localHQExpense.otherExpense" >
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col s6 pr0">
                          <div class="control-field">
                            <mat-form-field class="cs-input infix-bodr8">
                              <textarea matInput placeholder="Remark" class="h165" name="remarks" #remarks="ngModel" [(ngModel)]="localHQExpense.remarks"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s12 padding0 mt15">
                      <div class="cs-btn text-right">
                        <div class="in-btn">
                          <button mat-raised-button color="accent" [disabled]="!localHQExpense.remarks || !localHQExpense.visitDate|| !localHQExpense.from || !localHQExpense.to ||!localHQExpense.mode ||!localHQExpense.modeType ||!localHQExpense.otherExpense " (click)="addToLocalConvenseList()" type="button">Add To List</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        
        <div *ngIf="localConveyances.length!=0" class="row mt15">
            <div class="cs-table left-right-20">
              <div class="table-head">
                <table> 
                  <tr>
                    <th class="w160">Date Of Visit</th>
                    <th class="w110">From</th>
                    <th class="w110">To</th>
                    <th class="w150">Modal Of Type</th>
                    <th class="w150">Modal Of Travel</th>
                    <th class="w130">KMs Covered</th>
                    <th class="w110 text-right">Amount</th>
                    <th class="w110 text-right">Other Exp.</th>
                    <th>Remark</th>
                  </tr>
                </table>
              </div>
              <div class="table-container">
                <div class="table-content">
                  <table>
                    <tr *ngFor="let Localexpense of localConveyances;let index=index">
                      <td class="w160"> {{Localexpense.visitDate |date:'EEEE, MMMM d, y'}}</td>
                      <td class="w110">{{Localexpense.from}}</td>
                      <td class="w110">{{Localexpense.to}}</td>
                      <td class="w150">
                          <span *ngIf="Localexpense.modeType==1">SELF</span>
                          <span *ngIf="Localexpense.modeType==2">PUBLIC TRANSPORT</span>
                          <span *ngIf="Localexpense.mode==10">AUTO</span>
                          <span *ngIf="Localexpense.mode==1">BUS</span>
                          <span *ngIf="Localexpense.mode==6">AC-TAXI</span>
                          <span *ngIf="Localexpense.mode==7">NON AC-TAXI</span>
                          <span *ngIf="Localexpense.mode==5">METRO</span>
                          <span *ngIf="Localexpense.mode==9">CAR</span>
                          <span *ngIf="Localexpense.mode==8">BIKE</span>
                      </td>
                      <td class="w130 ">{{Localexpense.distanceKMS}}</td>
                      <td class="w110 text-right"> &#x20B9; {{Localexpense.amount}}</td>
                      <td class="w130 text-right"> &#x20B9; {{Localexpense.otherExpense}}</td>
                      <td>{{Localexpense.remarks}}
                        <div class="action-btns">
                          <button mat-button class="delete" (click)="removeLocalConvenseList(index)"><i class="material-icons">delete_sweep</i> Delete</button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
        <div class="row mt15">
          <div class="col s12">
              <div class="cs-file-multiple scroll">
                <ul>
                  <li class="w110 pr10" *ngFor="let urlData of localExpense.documents;let i=index">
                    <label>
                        <img *ngIf="urlData.extension=='.jpg'" src="{{api+urlData.documentId+'/'+'2'}}">
                        <img *ngIf="urlData.extension=='.pdf'" src="assets/img/pdf.png">
                      <a (click)="deleteimg(urlData.documentId,urlData.fileName)" class="close"><i class="material-icons">delete_sweep</i></a>
                    </label>
                  </li>
                  <li class="w110 pr10">
                    <div class="cs-file wp100">
                      <label>
                        <input type="file" (change)="insertImage($event)" style="display:none;">
                        <i class="material-icons add-file-icon" >add</i>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
      </div>

        <div class="row">
          <div class="col s12">
            <div class="sm-table">
              <table>
                <tr>
                  <th class="text-right">Local Travel Expense</th>
                  <th class="w30 text-center">:</th>
                  <td class="w100 text-right">&#x20B9; {{localExp}}</td>
                </tr>
                <tr>
                  <th class="text-right">Other Type Expense</th>
                  <th class="text-center">:</th>
                  <td class="text-right">&#x20B9; {{otherLocalExp}}</td>
                </tr>
                <tr>
                  <th class="text-right">Total</th>
                  <th class="text-center">:</th>
                  <td class="text-right">&#x20B9; {{totalLocalExp}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="row">
            <div class="col s12">
              <div class="cs-btn fixedd mt15  text-right">
                <div class="in-btn">
                  <button mat-raised-button color="accent" (click)="localexpense(1)" >Save as Draft</button>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col s12">
            <div class="cs-btn fixedd mt15  text-right">
              <div class="in-btn">
                <button mat-raised-button color="accent" (click)="localexpense(2)">Save For Approval</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
      </div>
    </div>
  </div>
  
  <div class="h50"></div>