<div class="main-container">
  <div class="cs-loader" *ngIf="loader"> 
      <img src="assets/img/loader.png" class="rotate">
    </div>
  
<div class="middle-container">
  <div class="page-heading">
    <img src="assets/img/payment_icon.svg" class="h-icon">
    <div class="heading-text">
      <h2>Expense</h2>
      <p>Add Expense</p>
    </div>
  </div>
</div>


<div class="container-outer" >
  <div class="container" >
    <div class="row">
      <div class="col s12">
        <div class="sprate-box pt0 mb15">
          <div class="cs-heading">
            <h2>Out Station EXPENSE</h2>
          </div>
        </div>
      </div>
    </div>
    <form (ngSubmit)="f1.form.valid && outTravelExpense()" #f1="ngForm" novalidate>
      <div class="cs-bill"  >
        <div class="row">
          <div class="col s12">
            <div class="sprate-box pt0">
              <div class="cs-heading">
                <h2> BASIC INFORMATION</h2>
              </div>
              <div class="from-fields">
                <div class="row">
                  <div class="col s4">
                    <div class="control-field">
                      <mat-form-field class="cs-input infix-bodr8">
                        <input matInput placeholder="Purpose Of Visit" type="text" id="purposeOfVisit" name="purposeOfVisit" #purposeOfVisit="ngModel" [(ngModel)]="OutStationExpense.purposeOfVisit"  [ngClass]="{'has-error' : purposeOfVisit.invalid }" required>
                      </mat-form-field>
                      <mat-error *ngIf="f1.submitted && purposeOfVisit.invalid" class="invalid-feedback">
                        <mat-error *ngIf="purposeOfVisit.errors.required">Purpose Of Visit required</mat-error>
                      </mat-error>
                    </div>
                  </div>
                  <div class="col s4">
                      <div class="control-field">
                        <mat-form-field class="cs-input infix-bodr8">
                          <input matInput placeholder="ADVANCE AMOUNT" type="number" id="advanceAmount" name="advanceAmount" #advanceAmount="ngModel" [(ngModel)]="OutStationExpense.advanceAmount"  [ngClass]="{'has-error' : advanceAmount.invalid }" required>
                        </mat-form-field>
                        <mat-error *ngIf="f1.submitted && advanceAmount.invalid" class="invalid-feedback">
                          <mat-error *ngIf="advanceAmount.errors.required">Purpose Of Visit required</mat-error>
                        </mat-error>
                      </div>
                    </div>
                </div>
              </div>
            </div>
         
          </div>
        </div>

           
        <div class="collaps flat-collaps mt15">
            <div class="collaps-area">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="outer-panel form-collaps mb10">
                    <mat-panel-title>
                      TRAVEL ENTITLEMENT
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="inner-body">
                    <div class="from-fields">
                      <div class="col s4 pl0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">{{journyExpense.modeOfTravel}}
                            <mat-select placeholder="Mode Of Travel" name="modeOfTravel" #modeOfTravel="ngModel" [(ngModel)]="journyExpense.modeOfTravel" >
                              <mat-option [value]=1>BUS</mat-option>
                              <mat-option [value]=2>TRAIN</mat-option>
                              <mat-option [value]=3>AIRLINE</mat-option>
                              <mat-option [value]=5>TAXI </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      
                      <div class="col s4">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <mat-select placeholder="Mode" name="class" #class="ngModel" [(ngModel)]="journyExpense.class">
                              <mat-option (click)="checkValid(journyExpense.class)"value='AC Buses' *ngIf="journyExpense.mode==1" >AC Buses </mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='Non - AC Buses' *ngIf="journyExpense.mode==1">Non - AC Buses</mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='2A' *ngIf="journyExpense.mode==2">2A</mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='3A' *ngIf="journyExpense.mode==2">3A</mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='SL' *ngIf="journyExpense.mode==2">SL</mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='Economy Class' *ngIf="journyExpense.mode==3">Economy Class </mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='Private' *ngIf="journyExpense.mode==5">Private</mat-option>
                              <mat-option (click)="checkValid(journyExpense.class)"value='Shared' *ngIf="journyExpense.mode==5">Shared</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      
                      <div class="col s4" *ngIf="modeError==1">
                        You Are Not Eligable for This Type of Mode
                      </div>
                      <div >
                        <div class="row mb0">
                          <div class="col s12 pl0">
                            <div class="heading-bg mb0 mt15 mrl24">
                              <h2>DEPARTURE</h2>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col s4 pl0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput [matDatepicker]="nine"  readonly [max]='currentDate' placeholder="Date" name="departureDate" #departureDate="ngModel" [(ngModel)]="journyExpense.departureDate">
                                <mat-datepicker-toggle matSuffix [for]="nine"></mat-datepicker-toggle>
                                <mat-datepicker #nine></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col s4">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Station" name="departureStation" #departureStation="ngModel" [(ngModel)]="journyExpense.departureStation">
                              </mat-form-field>
                            </div>
                          </div>
                          
                          <div class="col s4">
                            <div class="control-field mt14">
                              <div class="cs-input">
                                <input [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" placeholder="Time" name="departureTime" #departureTime="ngModel" [(ngModel)]="journyExpense.departureTime">
                                <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        
                        <div class="row mb0">
                          <div class="col s12 pl0">
                            <div class="heading-bg  mb0 mt15">
                              <h2>ARRIVAL</h2>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col s4">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput [matDatepicker]="elevn" readonly [min]="journyExpense.departureDate" [max]="currentDate" placeholder="Date" name="arrivalDate" #arrivalDate="ngModel" [(ngModel)]="journyExpense.arrivalDate">
                                <mat-datepicker-toggle matSuffix [for]="elevn"></mat-datepicker-toggle>
                                <mat-datepicker #elevn></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col s4">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Station" name="arrivalStation" #arrivalStation="ngModel" [(ngModel)]="journyExpense.arrivalStation">
                              </mat-form-field>
                            </div>
                          </div>
                          
                          <div class="col s4">
                            <div class="control-field">
                              <div class="cs-input mt14">
                                <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" placeholder="Time" name="arrivalTime" #arrivalTime="ngModel" [(ngModel)]="journyExpense.arrivalTime">
                                <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <mat-divider class="left-right-15 mt15"></mat-divider>
                        <div class="row">
                          <div *ngIf="journyExpense.mode!=4" class="col s4 pl0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Detail Ticket No" name="ticketNo" #ticketNo="ngModel" [(ngModel)]="journyExpense.ticketNo">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col s4 ">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Amount" name="amount" #amount="ngModel" [(ngModel)]="journyExpense.amount">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div  *ngIf="journyExpense.mode!=4" class="col s12 mt15 mb15">
                      <div class="cs-btn text-right">
                        <div class="in-btn">
                          <button mat-raised-button color="accent" [disabled]="!journyExpense.departureDate||!journyExpense.departureStation|| !journyExpense.departureTime||!journyExpense.arrivalStation||!journyExpense.arrivalDate||!journyExpense.arrivalTime||!journyExpense.modeOfTravel||!journyExpense.ticketNo||!journyExpense.amount" (click)="addToOutTravelExpense()">Add To List</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        
        <div *ngIf="tmpJournyExpense.length!=0" class="row mt15">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table> 
                <tr>
                  <th class="text-center">BUS/RAIL/AIR FARE</th>
                </tr>
              </table>
            </div>
            
            <div class="table-head  bdrt">
              <table> 
                <tr >
                  <th class="padding0 pt10 text-center">
                    DEPARTURE
                    <table class="inner-table bdrt mt10">
                      <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Station</th>
                        <th class="text-center">Time</th>
                      </tr>
                    </table>
                  </th>
                  <th class="padding0 pt10 text-center">
                    ARRIVAL
                    <table class="inner-table bdrt mt10">
                      <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Station</th>
                        <th class="text-center">Time</th>
                      </tr>
                    </table>
                  </th>
                  <th class="w150 text-center">Class & Mode Of Travel</th>
                  <th class="w100 text-center">Status</th>
                  <th class="w150">Deatil Of Ticket No. / K.M. (PVT. VEHICLE)</th>
                  <th class="w100 text-right">Amount</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table>
                  <tr *ngFor="let journy of tmpJournyExpense;let index=index">
                    <td class="padding0">
                      <table class="inner-table">
                        <tr>
                          <td class="text-center">{{journy.departureDate |date:'EEEE, MMMM d, y'}}</td>
                          <td class="text-center">{{journy.departureStation}}</td>
                          <td class="text-center">{{journy.departureTime | date:'h:mm a'}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="padding0">
                      <table class="inner-table">
                        <tr>
                          <td class="text-center">{{journy.arrivalDate|date:'EEEE, MMMM d, y'}}</td>
                          <td class="text-center">{{journy.arrivalStation}}</td>
                          <td class="text-center">{{journy.arrivalTime | date:'h:mm a'}}</td>
                        </tr>
                      </table>
                    </td>
                    <td class="w170 text-center">
                        <span *ngIf="journy.modeOfTravel==1"> BUS / </span>
                        <span *ngIf="journy.modeOfTravel==2"> TRAIN / </span>
                        <span *ngIf="journy.modeOfTravel==3"> AIRLINE / </span>
                        <span *ngIf="journy.modeOfTravel==5"> TEXI / </span>
                        <span >{{journy.class}}</span></td>
                    <td class="w100 approved">Allow</td>
                    <td *ngIf="journy.distanceKMS==null" class="w150">{{journy.ticketNo}}</td>
                    <td class="w100 text-right">&#x20B9; {{journy.amount}}
                        <div class="action-btns">
                            <button mat-button class="delete" (click)="removeOutTravelExps(index)"><i class="material-icons">delete_sweep</i> Delete</button>
                          </div>
                    </td>
                  </tr>
                  
                  <tr class="active-col">
                    <td class="padding0">
                      <table class="inner-table">
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                    <td class="padding0">
                      <table class="inner-table">
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                    <td class="w150 text-center">&nbsp;</td>
                    <td class="w150 text-center">&nbsp;</td>
                    <td class="w100">Total</td>
                    <td class="w100 text-right">&#x20B9; {{totalOutTravelExp}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="collaps flat-collaps mt15">
          <div class="collaps-area">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="outer-panel form-collaps mb10">
                  <mat-panel-title>
                    HOTEL
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="inner-body">
                  <div class="from-fields">
                    <div class="row">
                      <div class="col s6 pl0">
                        <div class="row">
                          <div class="col s6 pl0">
                            <mat-form-field class="example-full-width">
                              <input type="text" placeholder="City" aria-label="city"  name="city" [(ngModel)]="Arraycity.city" (input)="cityList(Arraycity.city)" matInput  [matAutocomplete]="city">
                              <mat-autocomplete #city="matAutocomplete" >
                                <mat-option (click)="selectedCity(city)" *ngFor="let city of cityListArray" value="{{city.city}}">
                                  {{city.city}} / {{city.stateName}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                          <div class="col s6 pr0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput [matDatepicker]="thirteens" readonly [max]='currentDate' placeholder="Check In Date" name="checkInDate" #checkInDate="ngModel" [(ngModel)]="outStationHotelExp.checkInDate">
                                <mat-datepicker-toggle matSuffix [for]="thirteens"></mat-datepicker-toggle>
                                <mat-datepicker #thirteens></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s6 pl0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput [matDatepicker]="thirteen" readonly [min]="outStationHotelExp.checkInDate" [max]='currentDate' placeholder="Check Out Date" name="checkOutDate" #checkOutDate="ngModel" [(ngModel)]="outStationHotelExp.checkOutDate">
                                <mat-datepicker-toggle matSuffix [for]="thirteen"></mat-datepicker-toggle>
                                <mat-datepicker #thirteen></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col s6 pr0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Hotel Name" name="hotelName" #hotelName="ngModel" [(ngModel)]="outStationHotelExp.hotelName" >
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col s6 pl0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Amount" (input)="checkValidAmount(outStationHotelExp.billAmount)"  name="billAmount" #billAmount="ngModel" [(ngModel)]="outStationHotelExp.billAmount" >
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="hotelcitydiv==true">
                          You Are not eligable for this Amount
                        </div>
                      </div>
                      
                      <div class="col s6 pr0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <textarea matInput placeholder="Remark"name="remarks" #remarks="ngModel" [(ngModel)]="outStationHotelExp.remarks" class="h168"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col s12 mt15 mb15">
                    <div class="cs-btn text-right">
                      <div class="in-btn">
                        <button mat-raised-button color="accent" [disabled]="!outStationHotelExp.checkInDate ||!outStationHotelExp.checkOutDate ||!outStationHotelExp.billAmount || !outStationHotelExp.hotelName || !outStationHotelExp.city || !outStationHotelExp.remarks" (click)="outStationHotelExpList()">Add To List</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        
        
        <div *ngIf="tmpoutStationHotelExp.length!=0" class="row mt15">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table> 
                <tr>
                  <th class="w150">City</th>
                  <th class="w120">Check In Date</th>
                  <th class="w135">Check Out Date</th>
                  <th class="w160">Hotel name</th>
                  <th class="w100 text-right">Amount</th>
                  <th class="w100">Status</th>
                  <th>Remark</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table>
                  <tr *ngFor=" let hotel of tmpoutStationHotelExp;let index=index">
                    <td class="w150">{{hotel.city.city}}</td>
                    <td class="w120">{{hotel.checkInDate|date:'EEEE, MMMM d, y'}}</td>
                    <td class="w135">{{hotel.checkOutDate|date:'EEEE, MMMM d, y'}}</td>
                    <td class="w160">{{hotel.hotelName}}</td>
                    <td class="w100 text-right">&#x20B9; {{hotel.billAmount}}</td>
                    <td class="w100 approved" *ngIf="hotelCityError==0" >Allow</td>
                    <td class="w100 reject" *ngIf="hotelCityError==1" >Not Allow</td>
                    <td><p>{{hotel.remarks}}</p>
                        <div class="action-btns">
                            <button mat-button class="delete" (click)="removeOutHotelExps(index)"><i class="material-icons">delete_sweep</i> Delete</button>
                          </div>
                    
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        
         <div class="collaps flat-collaps mt15">
          <div class="collaps-area">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="outer-panel form-collaps mb10">
                  <mat-panel-title>
                    FOOD
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="inner-body">
                  <div class="from-fields">
                    <div class="row">
                      <div class="col s6 pl0">
                        <div class="row">
                          <div class="col s6 pl0">
                            <div class="control-field">
                              <mat-form-field class="example-full-width">
                                <input type="text" placeholder="City" aria-label="city"  name="city" [(ngModel)]="Arraycity.city" (input)="cityList(Arraycity.city)" matInput  [matAutocomplete]="city1">
                                <mat-autocomplete #city1="matAutocomplete" >
                                  <mat-option (click)="selectedFoodExpenseCity(city)" *ngFor="let city of cityListArray" value="{{city.city}}">
                                    {{city.city}} / {{city.stateName}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col s6 pr0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput [matDatepicker]="thirteenss"  placeholder="Date" name="date" #date="ngModel" [(ngModel)]="outStationFoodExp.date">
                                <mat-datepicker-toggle matSuffix [for]="thirteenss"></mat-datepicker-toggle>
                                <mat-datepicker #thirteenss></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s6 pl0">
                            <div class="control-field">
                              <mat-form-field class="cs-input infix-bodr8">
                                <input matInput placeholder="Amount" (input)="checkValidFoodAmount(outStationFoodExp.billAmount)" name="billAmount" #billAmount="ngModel" [(ngModel)]="outStationFoodExp.billAmount">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="foodCityError==1">
                          You are not Eligable for this Amount
                        </div>
                      </div>
                      
                      <div class="col s6 pr0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <textarea matInput placeholder="Remark" class="h100" name="remarks" #remarks="ngModel" [(ngModel)]="outStationFoodExp.remarks" ></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col s12 mt15 mb15">
                    <div class="cs-btn text-right">
                      <div class="in-btn">
                        <button mat-raised-button color="accent" type="button" (click)="outStationFoodExpList()" >Add To List</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        
        <div *ngIf="tmpoutStationFoodExp.length!=0" class="row mt15">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table> 
                <tr>
                  <th class="w200">City</th>
                  <th class="w120">Date</th>
                  <th class="w120">Status</th>
                  <th class="w150 text-right">Amount</th>
                  <th>Remark</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table>
                  <tr *ngFor="let food of tmpoutStationFoodExp;let index=index">
                    <td class="w200">{{food.city.city}}</td>
                    <td class="w120">{{food.date}}</td>
                    <td class="w120 approved" *ngIf="foodCityError==0">Allow</td>
                    <td class="w120 reject" *ngIf="foodCityError==0">Not-Allow</td>
                    <td class="w150 text-right">&#x20B9; {{food.billAmount}}</td>
                    <td><p>{{food.remarks}}</p>
                        <div class="action-btns">
                            <button mat-button class="delete" (click)="removeOutFoodExpnse(index)"><i class="material-icons">delete_sweep</i> Delete</button>
                          </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div> 
        
        
        <div class="collaps flat-collaps mt15">
          <div class="collaps-area">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header class="outer-panel form-collaps mb10">
                  <mat-panel-title>
                    LOCAL CONVENCE
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="inner-body">
                  <div class="from-fields">
                     <div class="row">
                      <div class="col s3 pr0">
                        <div class="control-field">
                          <!-- <mat-form-field class="cs-input infix-bodr8">
                            <mat-select placeholder="Mode Of Travel" name="modeOfTravel" #modeOfTravel="ngModel" [(ngModel)]="outStationLocalExp.modeOfTravel" >
                              <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" [value]=1>AUTO</mat-option>
                              <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" [value]=2>BUS</mat-option>
                              <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" [value]=3>AC TAXI</mat-option>
                              <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" [value]=4>NON-AC TAXI </mat-option>
                              <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" [value]=5>TWO WHEELER </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                          <mat-form-field class="cs-input infix-bodr8">
                              <mat-select placeholder="Mode Of Travel" name="modeOfTravel" #modeOfTravel="ngModel" [(ngModel)]="outStationLocalExp.modeOfTravel" >
                                <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" value=10>AUTO</mat-option>
                                <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" value=1>BUS</mat-option>
                                <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" value=6>AC TAXI</mat-option>
                                <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" value=7>NON-AC TAXI </mat-option>
                                <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" value=8>TWO WHEELER </mat-option>
                                <mat-option (click)="checkValidLocalFare(outStationLocalExp.modeOfTravel)" value=5>METRO </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="localFareError==1">
                          You Are Not Allow This Travel Mode
                        </div>
                      </div>
                      <div class="col s3 pl0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <input matInput [matDatepicker]="fourteen" readonly [max]='currentDate' placeholder="Date" name="date" #date="ngModel" [(ngModel)]="outStationLocalExp.date"> 
                            <mat-datepicker-toggle matSuffix [for]="fourteen"></mat-datepicker-toggle>
                            <mat-datepicker #fourteen></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col s3 ">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <input matInput placeholder="From" name="from" #from="ngModel" [(ngModel)]="outStationLocalExp.from" >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col s3 ">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <input matInput placeholder="To" name="to" #to="ngModel" [(ngModel)]="outStationLocalExp.to" >
                          </mat-form-field>
                        </div>
                      </div>
                      
                    </div> 
                    
                    <div class="row">
                      <div class="col s3 pl0">
                        <div class="control-field">
                          <mat-form-field class="cs-input infix-bodr8">
                            <input matInput placeholder="Fare" name="fare" #fare="ngModel" [(ngModel)]="outStationLocalExp.fare">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col s12 mt15 mb15">
                    <div class="cs-btn text-right">
                      <div class="in-btn">
                        <button mat-raised-button color="accent" [disabled]="!outStationLocalExp.date||!outStationLocalExp.from||!outStationLocalExp.to||!outStationLocalExp.modeOfTravel||!outStationLocalExp.fare" (click)="outStationLocalExpList()">Add To List</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div> 
        
         <div *ngIf="tmpoutStationLocalExp.length!=0" class="row mt15">
          <div class="cs-table left-right-20">
            <div class="table-head">
              <table> 
                <tr>
                  <th class="w130">Date</th>
                  <th class="w170 text-center">From</th>
                  <th class="w170 text-center">To</th>
                  <th class="w170 text-center">Mode</th>
                  <th>Fare</th>
                </tr>
              </table>
            </div>
            
            <div class="table-container">
              <div class="table-content">
                <table>
                  <tr *ngFor="let outLocalTravel of tmpoutStationLocalExp;let index=index ">
                    <td class="w130"> {{outLocalTravel.date|date:'EEEE, MMMM d, y'}}</td>
                    <td class="w170 text-center">{{outLocalTravel.from}}</td>
                    <td class="w170 text-center">{{outLocalTravel.to}}</td>
                    <td class="w170 text-center">
                        <span *ngIf="outLocalTravel.modeOfTravel==10">AUTO</span>
                        <span *ngIf="outLocalTravel.modeOfTravel==1">BUS</span>
                        <span *ngIf="outLocalTravel.modeOfTravel==6">AC TEXI</span>
                        <span *ngIf="outLocalTravel.modeOfTravel==7">NON-AC TEXI</span>
                        <span *ngIf="outLocalTravel.modeOfTravel==8">TWO WHEELER</span>
                        <span *ngIf="outLocalTravel.modeOfTravel==5">METRO</span>
                      </td>
                    <td>&#x20B9; {{outLocalTravel.fare}}
                        <div class="action-btns">
                            <button mat-button class="delete" (click)="removeOutLocalExps(index)"><i class="material-icons">delete_sweep</i> Delete</button>
                          </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div> 
        
        <div class="collaps flat-collaps mt15">
            <div class="collaps-area">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="outer-panel form-collaps mb10">
                    <mat-panel-title>
                      MISC EXPENSE INFORMATION
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="inner-body">
                    <div class="from-fields">
                      <div class="row">
                        <div class="col s6 pl0">
                          <div class="row">
                            <div class="col s6 pl0">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <mat-select placeholder="Nature of expense" name="miscActivityType" #miscActivityType="ngModel" [(ngModel)]="outStationMiscExp.miscActivityType" >
                                    <mat-option value="1">Entertainment Expenses</mat-option>
                                    <mat-option value="2">Gift To Dealers</mat-option>
                                    <mat-option value="3">Lunch/Dinner With Team</mat-option>
                                    <mat-option value="4">Training Program</mat-option>
                                    <mat-option value="5">Other</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col s6 pr0">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput [matDatepicker]="five" readonly [max]='currentDate' placeholder="Date" name="date" #date="ngModel" [(ngModel)]="outStationMiscExp.date" readonly>
                                  <mat-datepicker-toggle matSuffix [for]="five"></mat-datepicker-toggle>
                                  <mat-datepicker #five></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col s6 pl0">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="Place Of Expense" name="placeOfExpense" #placeOfExpense="ngModel" [(ngModel)]="outStationMiscExp.placeOfExpense">
                                </mat-form-field>
                              </div>
                            </div>
                            
                            <div class="col s6 pr0">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="Name of Beneficiaries" name="nameOfBeneficiary" #nameOfBeneficiary="ngModel" [(ngModel)]="outStationMiscExp.nameOfBeneficiary">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col s6 pr0">
                              <div class="control-field">
                                <mat-form-field class="cs-input infix-bodr8">
                                  <input matInput placeholder="Amount" name="amount" #total="ngModel" [(ngModel)]="outStationMiscExp.amount">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col s6 pr0">
                          <div class="control-field">
                            <mat-form-field class="cs-input infix-bodr8">
                              <textarea matInput placeholder="Remark" class="h165" name="remarks" #remarks="ngModel" [(ngModel)]="outStationMiscExp.remarks" ></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    
                    <div class="col s12 mt15">
                      <div class="cs-btn text-right">
                        <div class="in-btn">
                          <button mat-raised-button color="accent" [disabled]="!outStationMiscExp.miscActivityType ||!outStationMiscExp.date ||!outStationMiscExp.placeOfExpense ||!outStationMiscExp.nameOfBeneficiary ||!outStationMiscExp.amount ||!outStationMiscExp.remarks" (click)="addOutMiscExpenseList()">Add To List</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          
          <div *ngIf="tmpOutTravelMiscExp.length!=0" class="row mt15">
            <div class="cs-table left-right-20">
              <div class="table-head">
                <table> 
                  <tr >
                    <th class="w160">Date</th>
                    <th class="w180">Nature Of Exp.</th>
                    <th class="w170">Beneficiaries Name</th>
                    <th class="w160">Place Of Expense</th>
                    <th class="w100 text-right">Total</th>
                    <th>Remark</th>
                  </tr>
                </table>
              </div>
              
              <div class="table-container">
                <div class="table-content">
                  <table>
                    <tr *ngFor="let misc of tmpOutTravelMiscExp">
                      <td class="w160">{{misc.date|date:'EEEE, MMMM d, y'}}</td>
                      <!-- <td class="w200">{{misc.miscActivityType}}</td> -->
                      <td *ngIf="misc.miscActivityType==1" class="w180">Entertainment Expenses</td>
                      <td *ngIf="misc.miscActivityType==2" class="w180">Gift To Dealers</td>
                      <td *ngIf="misc.miscActivityType==3" class="w180">Lunch/Dinner With Team</td>
                      <td *ngIf="misc.miscActivityType==4" class="w180">Training Program</td>
                      <td *ngIf="misc.miscActivityType==5" class="w180"> Other</td>
                      <td class="w170">{{misc.nameOfBeneficiary}}</td>
                      <td class="w160">{{misc.placeOfExpense}}</td>
                      <td class="w100 text-right"> &#x20B9; {{misc.amount}}</td>
                      <td> {{misc.remarks}}
                          <div class="action-btns">
                              <button mat-button class="delete" (click)="removeOutStationMiscExp(index)"><i class="material-icons">delete_sweep</i> Delete</button>
                            </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        <div class="row mt15">
            <div class="col s12">
                <div class="cs-file-multiple scroll">
                  <ul>
                    <li class="w110 pr10" *ngFor="let urlData of OutStationExpense.documents;let i=index">
                      <label>
                          <img *ngIf="urlData.extension=='.jpg'" src="{{api+urlData.documentId+'/'+'2'}}">
                          <img *ngIf="urlData.extension=='.pdf'" src="assets/img/pdf.png">
                        <a (click)="deleteimg(urlData.documentId,urlData.fileName)" class="close"><i class="material-icons">delete_sweep</i></a>
                      </label>
                    </li>
                    <li class="w110 pr10">
                      <div class="cs-file wp100">
                        <label>
                          <input type="file" (change)="insertImage($event)" style="display:none;">
                          <i class="material-icons add-file-icon" >add</i>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
        
        
        <div class="row">
          <div class="col s12">
            <div class="sm-table">
              <table>
                <tr>
                  <th class="text-right">OutStation Travel</th>
                  <th class="w30 text-center">:</th>
                  <td class="w100 text-right">{{totalOutTravelExp |currency: 'INR':true}}</td>
                </tr>
                <tr>
                  <th class="text-right">OutStation Hotel Exp.</th>
                  <th class="text-center">:</th>
                  <td class="text-right">{{totalOutHotelExp|currency: 'INR':true}}</td>
                </tr>
                <tr>
                  <th class="text-right">OutStation Local Conveyances</th>
                  <th class="text-center">:</th>
                  <td class="text-right">{{totalOutLocalExp|currency: 'INR':true}}</td>
                </tr>
                <tr>
                    <th class="text-right">OutStation Food Exp.</th>
                    <th class="w30 text-center">:</th>
                    <td class="w100 text-right">{{totalOutStationFoodExp |currency: 'INR':true}}</td>
                  </tr>
                  <tr>
                    <th class="text-right">OutStation Misc Exp.</th>
                    <th class="w30 text-center">:</th>
                    <td class="w100 text-right">{{totalOutStationFoodExp |currency: 'INR':true}}</td>
                  </tr>
              </table>
            </div>
          </div>
        </div> 
        
        <mat-divider class="mt15 mb15"></mat-divider>
        
        <div class="row">
          <div class="col s12">
            <div class="sm-table">
              <table>
                <tr>
                  <th class="text-right">BILL AMOUNT</th>
                  <th class=" w30 text-center">:</th>
                  <td class=" w120 text-right"> {{totalOutStationExp|currency: 'INR':true}}</td>
                </tr>
                <tr>
                  <th class="text-right">ADVANCE</th>
                  <th class="text-center">:</th>
                  <td class="text-right">{{OutStationExpense.advanceAmount|currency: 'INR':true}}</td>
                </tr>
                <tr>
                  <th class="text-right">CLAIM</th>
                  <th class="text-center">:</th>
                  <td class="text-right"> {{TotalClaimAmount|currency: 'INR':true}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12 mt15 mb15">
            <div class="cs-btn text-right">
              <div class="in-btn">
                <button mat-raised-button color="accent"(click)="myoutstationexpense(1)" >Save as Draft</button>
              </div>
            </div>
          </div>
          <div class="col s12 mt15 mb15">
              <div class="cs-btn text-right">
                <div class="in-btn">
                  <button mat-raised-button color="accent" (click)="myoutstationexpense(2)">Subbmit For Approvel</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
    
      </div>
    </div>
  </div>
  
  <div class="h50"></div>