<div class="master-tab">
  <ul>
    <!-- <li routerLink="/add-product" routerLinkActive="active"><a>Products</a></li> -->
    <li routerLink="/user-add" routerLinkActive="active"><a>Users</a></li>
    <li routerLink="/territory-add" routerLinkActive="active"><a>Postal / Territory Master</a></li>
    <li routerLink="/pop_and_gift" routerLinkActive="active"><a>POP & Gift</a></li>
    <li routerLink="/add-leave-rules" routerLinkActive="active"><a>Leaves & Holidays</a></li>
    <li routerLink="/add-annoucement" routerLinkActive="active"><a>Announcement</a></li>
  </ul>
</div>
