<div class="main-container" >
	<div class="dashboard-thumbnail">
		<div class="dashboard-area">
			<div class="dashboard-content green-bg">
				<div class="box ">
					<span class="count-bg-dis">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.orderCount}}</h2>
					<p>Total Order</p>
				</div>
			</div>
			
			<div class="dashboard-content yellow-bg">
				<div class="box ">
					<span class="count-bg-dis">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{distributorCount}}</h2>
					<p>Distributer</p>
				</div>
			</div>
			<div class="dashboard-content blue-bg">
				<div class="box ">
					<span class="count-bg-task">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.taskCount}}</h2>
					<p>Total Task</p>
				</div>
			</div>
			
			<div class="dashboard-content orange-bg">
				<div class="box ">
					<span class="count-bg-lead">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{leadCount}}</h2>
					<p>Total Leads</p>
				</div>
			</div>
			
			
			
		</div>
		
		<div class="dashboard-area">
			<div class="dashboard-content yellow-bg">
				<div class="box ">
					<span class="count-bg-dis">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.followUpCount}}</h2>
					<p>Today Follow ups</p>
				</div>
			</div>
			<div class="dashboard-content blue-bg">
				<div class="box ">
					<span class="count-bg-task">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.concernCount}}</h2>
					<p>Total Customer Concern</p>
				</div>
			</div>
			
			<div class="dashboard-content orange-bg">
				<div class="box ">
					<span class="count-bg-lead">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.travelPlanCount}}</h2>
					<p>Total Travel Plan</p>
				</div>
			</div>
			
			<div class="dashboard-content blue-bg">
					<div class="box ">
						<span class="count-bg-task">&nbsp;</span>
					</div>
					<div class="text-box">
						<h2>{{counterArray.expenseCount}}</h2>
						<p>Total Expense</p>
					</div>
				</div>
			
		</div>
		
		<div class="dashboard-area">
				<div class="dashboard-content blue-bg">
						<div class="box ">
							<span class="count-bg-task">&nbsp;</span>
						</div>
						<div class="text-box">
							<h2>{{counterArray.popOrderCount}}</h2>
							<p>Total Pop & Gift Order</p>
						</div>
					</div>
			
			<div class="dashboard-content yellow-bg">
				<div class="box ">
					<span class="count-bg-dis">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.announcementCount}}</h2>
					<p>Total Announcement</p>
				</div>
			</div>
			<div class="dashboard-content blue-bg">
				<div class="box ">
					<span class="count-bg-task">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.activityCount}}</h2>
					<p>Total Activity</p>
				</div>
			</div>
			
			<div class="dashboard-content orange-bg">
				<div class="box ">
					<span class="count-bg-lead">&nbsp;</span>
				</div>
				<div class="text-box">
					<h2>{{counterArray.popCount}}</h2>
					<p>Total Pop & Gift</p>
				</div>
			</div>
			
			
			
		</div>
		<div class="current-revenue mrb20">
		</div>
	</div>
</div>
