<div class="navigation">
    <div class="menu">
        <ul *ngIf="userType == 1">
            <li (click)="navBarModuleHandler()">
                <a routerLink="/dashboard" routerLinkActive="active" >Dashboard <img src="assets/img/dashboard_icon.svg" class="nav-icon h18"></a>
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][0].show) || (user.data.userType == '2'))">
                <a routerLink="/lead-list" routerLinkActive="active" >Leads<img src="assets/img/leads_icon.svg" class="nav-icon"><span class="nav-counter orange-count">{{service.leadCount}}</span></a>
            </li>
            <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][1].show) || (userType==2))">
                <a  routerLink="/distribution-list" routerLinkActive="active" (click)="toggleDropdown()" id="distributionNetwork">Distributor <img src="assets/img/distribution_icon.svg " class="nav-icon h23">
                    <span class="nav-counter sub-conter green-count">{{service.distributorCount}}</span> 
                </a>
                <!-- <ul>
                    <li>
                        <a routerLink="/distribution-list" routerLinkActive="active">
                            Distributors
                            <i class="material-icons">keyboard_arrow_right</i>   
                            <span class="sub-conter green-count">{{distributorCount}}</span> 
                        </a>
                    </li>
                    <li>
                        <a routerLink="/wholesaler-list" routerLinkActive="active">
                            Wholesellers
                            <i class="material-icons">keyboard_arrow_right</i> 
                            <span class="sub-conter orange-count">{{wholeSellerCount}}</span> 
                        </a>
                    </li>
                    <li>
                        <a routerLink="/retailer-list" routerLinkActive="active">
                            Retailers
                            <i class="material-icons">keyboard_arrow_right</i> 
                            <span class="sub-conter blue-count">{{retailerCount}}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/engine-list" routerLinkActive="active">
                            Reconditioners
                            <i class="material-icons">keyboard_arrow_right</i> 
                            <span class="sub-conter purple-count">{{reconditionerCount}}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/mechanic-list" routerLinkActive="active">
                            Mechanics
                            <i class="material-icons">keyboard_arrow_right</i>
                            <span class="sub-conter red-count">{{mechanicCount}}</span> 
                        </a>
                    </li>
                </ul> -->
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][3].show) || (userType==2) || (userType==3))">
                <a routerLink="/order-list" routerLinkActive="active" >Orders <img src="assets/img/order_icon.svg" class="nav-icon h24">
                    <span class="nav-counter green-count">{{ service.counterArray.orderCount}}</span>
                </a>
            </li>
            <!-- <li *ngIf="userRole==1">
                <a >Invoice <img src="assets/img/invoice_icon.svg" class="nav-icon h22"></a>
            </li> -->
            <!-- <li *ngIf="userRole==1">
                <a >Payments <img src="assets/img/payment_icon.svg" class="nav-icon h22"></a>
            </li> -->
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (userType == 1 && user.data?.role != 1) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][2].show) || (userType==2))">
                <a routerLink="/task-list" routerLinkActive="active" >Tasks<img src="assets/img/task.svg" class="nav-icon h22">
                    <span class="nav-counter blue-count">{{service.counterArray.taskCount}}</span> 
                </a>
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][7].show))" >
                <a routerLink="/checkin-list" routerLinkActive="active">DVR<img src="assets/img/activity.svg" class="nav-icon h19"></a>
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][8].show))">
                <a routerLink="/followup-list" routerLinkActive="active" >Follow Ups<img src="assets/img/folowup.svg" class="nav-icon h23">
                    <span class="nav-counter green-count">{{service.counterArray.followUpCount}}</span> 
                </a>
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][4].show) )">
                <a routerLink="/list-travel" routerLinkActive="active" >Travel Plans <img src="assets/img/travel.svg" class="nav-icon h22"><span class="nav-counter green-count">{{service.counterArray.travelPlanCount}}</span></a>
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][6].show))" >
                <a  routerLink="/concern-list" routerLinkActive="active" >Customer Concerns <img src="assets/img/concern.svg" class="nav-icon h23"> <span class="nav-counter orange-count">{{service.counterArray.concernCount}}</span></a>
            </li>
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][5].show))">
                <a routerLink="/expense-list" routerLinkActive="active" >Expenses <img src="assets/img/payment_icon.svg" class="nav-icon h23"><span class="nav-counter blue-count">{{service.counterArray.expenseCount}}</span></a>
            </li>
            <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][12].show))">
                <a routerLink="/pop-and-gift-distributor-list" routerLinkActive="active">
                    Pop & Gift Orders
                    <img src="assets/img/gift.svg" class="nav-icon h20">
                    <span class="nav-counter orange-count">{{service.counterArray.popOrderCount}}</span>
                </a>
            </li>
            <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][11].show))">
                <a routerLink="/leave-list" routerLinkActive="active" >Leave Application<img src="assets/img/leave.svg" class="nav-icon  h20"></a>
            </li>
            
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][22].show))">
                <a routerLink="/vendor-list" routerLinkActive="active" >Vendor<img src="assets/img/vendor.svg" class="nav-icon  h20"></a>
            </li>
            
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][14].show))" >
                <a routerLink="/purchase-order-list" routerLinkActive="active" >Purchase Order<img src="assets/img/order_icon.svg" class="nav-icon  h24"></a>
            </li>
            
            <li (click)="navBarModuleHandler()" *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][12].show))">
                <a routerLink="/scheme-list" routerLinkActive="active" >Schemes<img src="assets/img/scheme.svg" class="nav-icon  h23"></a>
            </li>

            <li  class="dropdown">
                <a (click)="toggleDropdown()" id="masters">Masters <img src="assets/img/master_icon.svg" class="nav-icon h23">
                </a>
                <ul>
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][15].show) || (userType==2))">
                        <a routerLink="/product-list" routerLinkActive="active">
                            Products
                            <i class="material-icons">keyboard_arrow_right</i>   
                        </a>
                    </li >
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][16].show) || (userType==2))">
                        <a routerLink="/sale-user-list" routerLinkActive="active">
                            Users
                            <i class="material-icons">keyboard_arrow_right</i> 
                        </a>
                    </li>
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][17].show) || (userType==2))">
                        <a routerLink="/territory-list" routerLinkActive="active">
                            Territories
                            <i class="material-icons"> keyboard_arrow_right  </i> 
                        </a>
                    </li>
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][18].show) || (userType==2))">
                        <a routerLink="/gift-list" routerLinkActive="active">
                            Marketing
                            <i class="material-icons">keyboard_arrow_right</i> 
                        </a>
                    </li>
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][19].show) || (userType==2))">
                        <a routerLink="/leave-rule-list" routerLinkActive="active">
                            Leaves & Holidays
                            <i class="material-icons">keyboard_arrow_right</i> 
                        </a>
                    </li>
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][20].show) || (userType==2))">
                        <a routerLink="/annoucement-list" routerLinkActive="active">
                            Announcements
                            <i class="material-icons">keyboard_arrow_right</i> 
                        </a>
                    </li>
                    <li *ngIf="((user.data.role == 1 && user.data?.superAdmin) || (!user.data.superAdmin && accessModuleData['moduleAccesses'][21].show) || (userType==2))">
                        <a routerLink="/allowance" routerLinkActive="active">
                            Allowances
                            <i class="material-icons">keyboard_arrow_right</i> 
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
        <ul *ngIf="userType == 2">
            <!-- <li (click)="navBarModuleHandler()">
                <a routerLink="/sale-user-detail/{{userId}}" routerLinkActive="active" >Profile<img src="assets/img/user.svg" class="nav-icon h18"></a>
            </li> -->
            <li (click)="navBarModuleHandler()" *ngIf="userType!=3">
                    <a routerLink="/dashboard" routerLinkActive="active" >Dashboard <img src="assets/img/dashboard_icon.svg" class="nav-icon h18"></a>
                </li>
            <li (click)="navBarModuleHandler()">
                <a routerLink="/lead-list" routerLinkActive="active" >Leads<img src="assets/img/leads_icon.svg" class="nav-icon h14">
                    <span class="nav-counter orange-count">{{service.leadCount}}</span></a>
                </li>
                <li >
                    <a  routerLink="/distribution-list" routerLinkActive="active" (click)="toggleDropdown()" id="distributionNetwork">Distributor <img src="assets/img/distribution_icon.svg " class="nav-icon h23">
                        <span class="nav-counter sub-conter green-count">{{service.distributorCount}}</span> 
                    </a>
                    <!-- <ul>
                        <li>
                            <a routerLink="/distribution-list" routerLinkActive="active">
                                Distributors
                                <i class="material-icons">keyboard_arrow_right</i>   
                                <span class="sub-conter green-count">{{distributorCount}}</span> 
                            </a>
                        </li>
                        <li>
                            <a routerLink="/wholesaler-list" routerLinkActive="active">
                                Wholesellers
                                <i class="material-icons">keyboard_arrow_right</i> 
                                <span class="sub-conter orange-count">{{wholeSellerCount}}</span> 
                            </a>
                        </li>
                        <li>
                            <a routerLink="/retailer-list" routerLinkActive="active">
                                Retailers
                                <i class="material-icons">keyboard_arrow_right</i> 
                                <span class="sub-conter blue-count">{{retailerCount}}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/engine-list" routerLinkActive="active">
                                Reconditioners
                                <i class="material-icons">keyboard_arrow_right</i> 
                                <span class="sub-conter purple-count">{{reconditionerCount}}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/mechanic-list" routerLinkActive="active">
                                Mechanics
                                <i class="material-icons">keyboard_arrow_right</i>
                                <span class="sub-conter red-count">{{mechanicCount}}</span> 
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li (click)="navBarModuleHandler()">
                    <a routerLink="/order-list" routerLinkActive="active" >Orders <img src="assets/img/order_icon.svg" class="nav-icon h24">
                        <span class="nav-counter orange-count">{{service.counterArray.orderCount}}</span>
                    </a>
                </li>
                <li (click)="navBarModuleHandler()">
                    <a routerLink="/task-list" routerLinkActive="active" >Tasks<img src="assets/img/task.svg" class="nav-icon h22">
                        <span class="nav-counter blue-count">{{service.counterArray.taskCount}}</span> 
                    </a>
                </li>
                <li (click)="navBarModuleHandler()" >
                    <a routerLink="/checkin-list" routerLinkActive="active">DVR<img src="assets/img/activity.svg" class="nav-icon h19"></a>
                </li>
                
                <li (click)="navBarModuleHandler()">
                    <a routerLink="/followup-list" routerLinkActive="active" >Follow Ups<img src="assets/img/folowup.svg" class="nav-icon h23">
                        <span class="nav-counter green-count">{{service.counterArray.followUpCount}}</span> 
                    </a>
                </li>
                <li (click)="navBarModuleHandler()">
                    <a routerLink="/list-travel" routerLinkActive="active" >Travel Plans <img src="assets/img/travel.svg" class="nav-icon h22">
                        <span class="nav-counter blue-count">{{service.counterArray.travelPlanCount}}</span> </a>
                    </li>
                    <li (click)="navBarModuleHandler()">
                        <a  routerLink="/concern-list" routerLinkActive="active" >Customer Concerns <img src="assets/img/concern.svg" class="nav-icon h23">
                            <span class="nav-counter blue-count">{{service.counterArray.concernCount}}</span> </a>
                        </li>
                        <li (click)="navBarModuleHandler()">
                            <a routerLink="/expense-list" routerLinkActive="active" >Expenses <img src="assets/img/payment_icon.svg" class="nav-icon h23">
                                <span class="nav-counter blue-count">{{service.counterArray.expenseCount}}</span> </a>
                            </li>
                            <li>
                                <a routerLink="/leave-list" routerLinkActive="active" >Leave Application<img src="assets/img/leave.svg" class="nav-icon  h20"></a>
                            </li>


                            <li (click)="navBarModuleHandler()">
                                <a routerLink="/scheme-list" routerLinkActive="active" >Schemes<img src="assets/img/scheme.svg" class="nav-icon  h23"></a>
                            </li>
                            
                            <li>
                                <a routerLink="/product-list" routerLinkActive="active" >Products<img src="assets/img/product.svg" class="nav-icon  h15"></a>
                            </li>
                            <li>
                                <a routerLink="/gift-list" routerLinkActive="active" >Marketing<img src="assets/img/market.svg" class="nav-icon h21">
                                    <span class="nav-counter orange-count">{{service.counterArray.popCount}}</span>
                                    
                                </a>
                            </li>
                            <li>
                                <a routerLink="/annoucement-list" routerLinkActive="active" >Announcements<img src="assets/img/announcement.svg" class="nav-icon  h22">
                                    <span class="nav-counter orange-count">{{service.counterArray.announcementCount}}</span>
                                </a>
                            </li>
                        </ul>
                        
                        <ul *ngIf="userType == 3">
                            <li (click)="navBarModuleHandler()">
                                <a routerLink="/distribution-detail/{{userNetworkId}}" routerLinkActive="active" >Profile<img src="assets/img/profile.svg" class="nav-icon h20"></a>
                            </li>
                            <li (click)="navBarModuleHandler()">
                                <a routerLink="/order-list" routerLinkActive="active" >Image & Document <img src="assets/img/document.svg" class="nav-icon h19">
                                    <!-- <span class="nav-counter orange-count"></span> -->
                                </a>
                            </li>
                            <li (click)="navBarModuleHandler()">
                                <a routerLink="/order-list" routerLinkActive="active" >Orders <img src="assets/img/order_icon.svg" class="nav-icon h24">
                                    <span class="nav-counter orange-count">{{service.counterArray.orderCount}}</span>
                                </a>
                            </li>
                            <li (click)="navBarModuleHandler()">
                                <a  routerLink="/concern-list" routerLinkActive="active" >Customer Concerns <img src="assets/img/concern.svg" class="nav-icon h24">
                                    <span class="nav-counter orange-count">{{service.counterArray.concernCount}}</span></a>
                                </li>
                                <li>
                                    <a routerLink="/product-list" routerLinkActive="active" >Products<img src="assets/img/product.svg" class="nav-icon  h16"></a>
                                </li>
                                <li>
                                    <a routerLink="/pop-and-gift-distributor-list" routerLinkActive="active">
                                        Pop & Gift Orders
                                        <img src="assets/img/gift.svg" class="nav-icon h20">
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/gift-list" routerLinkActive="active">
                                        Marketing
                                        <img src="assets/img/market.svg" class="nav-icon h21">
                                        <!-- <i class="material-icons">keyboard_arrow_right</i>  -->
                                    </a>
                                </li>
                            </ul>
                            
                            
                            <div class="h30"></div>
                        </div>
                    </div>
                    
                    