<div class="main-container">
 
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text bc-space">
        <div class="back-btn">
          <a mat-button routerLink="/territory-list" routerLinkActive="active"><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <h2>Golden Place</h2>
        <p class="light">32 Pincode</p>
      </div>
    </div>
  </div>
  
  <div class="container-outer">
    <div class="container" >
      <div class="row">
        <div class="col s12">
          <div class="details-info">
            <div class="sprate-box pb0">
              <div class="basic-details padding0">
                <div class="profile-info">
                  <ul>
                    <li class="col s5">
                      <div class="cs-box">
                        <img src="assets/img/map-location.svg" class="fix-img">
                        <span>Name</span>
                        <p>Golden Place</p>
                        <a class="edit-icon" color="accent" matRipple matTooltip="EDIT" (click)="openDialog()"><i class="material-icons">create</i></a>
                      </div>
                    </li>
                    <li  class="col s7">
                      <div class="cs-box">
                        <img src="assets/img/segment.svg" class="fix-img h20">
                        <span>Segment</span>
                        <!-- <p>0129 625874</p> -->
                        <ul class="segment-code">
                          <li>
                            <span>2 Wheeler<a><i class="material-icons">delete_sweep</i></a></span>
                          </li>
                          <li>
                            <span>4 Wheeler<a><i class="material-icons">delete_sweep</i></a></span>
                          </li>
                          <li>
                            <span>3 Wheeler<a><i class="material-icons">delete_sweep</i></a></span>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                
                <mat-divider class="mt15 mb15"></mat-divider>
                <div class="col s12">
                  <div class="add-field mb15">
                    <div class="heading">
                      <h2>Assign Users <a><i class="material-icons">add</i></a></h2>
                    </div>
                  </div>
                  <div class="cs-figure field-figure">
                    <ul>
                      <li>
                        <div class="outer">
                          <div class="inner">
                            <p>Ram Kumar Verma</p>
                            <span>RSM</span>
                          </div>
                          <a class="del-btn" matRipple ><i class="material-icons">delete_sweep</i></a>
                        </div>
                      </li>
                      <li>
                        <div class="outer">
                          <div class="inner">
                            <p>Pankaj Verma</p>
                          </div>
                          <a class="del-btn" matRipple ><i class="material-icons">delete_sweep</i></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12">
          <div class="sprate-box padding0">
            <div class="full-address">
              <div class="top-heading">
                <h2>HEADING</h2>
                <div class="top-search wp20 ml20 right-serach">
                  <input type="text" placeholder="SEARCH. . .">
                  <i class="material-icons">search</i>
                </div>
              </div>
              <div class="state-table">
                <table>
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td>
                            Haryana
                            <a class="del-btn">Delete</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td class="w250">
                            Faridabad
                          </td>
                          <td class="pb0">
                            <ul class="area-code">
                              <li matRipple >
                                <a>N.I.T 5 <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple >
                                <a>Alampur <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple >
                                <a>Badarpur Said<i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Palwal
                          </td>
                          <td class="pb0">
                            <ul class="area-code">
                              <li matRipple >
                                <a>Palwal Municipal Council <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple >
                                <a>Baghola Census Town <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple class="active">
                                <a>Amru <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td>
                            Uttar Pradesh
                            <a class="del-btn">Delete</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td class="w250">
                            Faridabad
                          </td>
                          <td class="pb0">
                            <ul class="area-code">
                              <li matRipple >
                                <a>N.I.T 5 <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple >
                                <a>Alampur <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple >
                                <a>Badarpur Said<i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Palwal
                          </td>
                          <td class="pb0">
                            <ul class="area-code">
                              <li matRipple >
                                <a>Palwal Municipal Council <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple >
                                <a>Baghola Census Town <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                              <li matRipple class="active">
                                <a>Amru <i class="material-icons">keyboard_arrow_right</i></a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="territory-info">
          
            <div class="head" [ngClass]="{'active':active.districts==true}">
              <h2>HARYANA / PALWAL</h2>
              <i class="material-icons search-icon" (click)="toggleterritory('districts','open')"  matRipple style="right: 15px;">search</i>
              <input type="text" placeholder="search..." class="fix-search">
              <i class="material-icons close-icon" (click)="toggleterritory('districts','close')" matRipple>clear</i>
            </div>

            <div class="cs-checkbox">
              <div class="checkbox-outer">
                <p class="head-cs">Baghola Census Town</p>
                <section class="checkbox-inner">
                  <div class="cs-table">
                    <div class="table-head sticky-small">
                      <table class="sno-border">
                        <tr>
                          <th class="w30">&nbsp;</th>
                          <th>Pincode</th>
                          <th class="w50">&nbsp;</th>
                        </tr>
                      </table>
                    </div>
                    
                    <div class="table-container">
                      <div class="table-content">
                        <table class="sno-border">
                          <tr>
                            <td class="w30">1</td>
                            <td>1234</td>
                            <td class="w50" matRipple><a class="pointer"><i class="material-icons red-clr">delete_sweep</i></a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>1234</td>
                            <td matRipple><a class="pointer"><i class="material-icons red-clr">delete_sweep</i></a></td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>1234</td>
                            <td matRipple><a class="pointer"><i class="material-icons red-clr">delete_sweep</i></a></td>
                          </tr>
                          
                        </table>
                      </div>
                    </div>
                    
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  
  <a class="cs-fix-btn" matRipple >Add Pincode</a>

  </div>

  <div class="h50"></div>

