<div class="main-container" >
  <div *ngIf="loader"> 
    <div class="cs-loader">
      <img src="assets/img/loader.png" class="rotate"> 
    </div>
  </div>

  <div class="middle-container pb15">
    <div class="page-heading">
      <img src="assets/img/task.svg" class="h-icon">
      <div class="heading-text">
        <h2>Distributor</h2>
        <p>Total Distributor<span *ngIf='distributionList'>{{distributionList.length}}</span><span *ngIf='!distributionList'>0</span></p>
      </div>
    </div>
    <div class="left-auto dflex">
      <div *ngIf="filter.companyname || filter.nameOfApplicant || filter.mobile || filter.segment || filter.state" class="filter-container left-auto">
        <div (click)="clearfilter()" class="filter-btn">
          <button mat-button >CLEAR FILTER</button>
        </div>
      </div>
    </div>
    
  </div>
  <!-- <div class="middle-container padding0">
    <div class="master-heading">
      <div class="vl-info">
        <ul>
          <li><p>Total Distributor : <span *ngIf='distributionList'>{{distributionList.length}}</span><span *ngIf='!distributionList'>0</span></p></li>
          </ul>
        </div>
      
          <div *ngIf="filter.companyname || filter.nameOfApplicant || filter.mobile || filter.segment || filter.state" class="filter-container left-auto">
              <div (click)="clearfilter()" class="filter-btn">
                <button mat-button >CLEAR FILTER</button>
              </div>
            </div>


        </div>
      </div> -->
      
      <div class="container-outer pt0">
        <div class="container" >
          <div class="row">
            <div class="col s12">
              <div class="cs-table left-right-20">
                <div class="sticky-head">
                  <div class="table-head">
                    <table>
                      <tr>
                        <th class="w100">Date</th>
                        <th class="w190">Company Name</th>
                        <th class="w190">Applicant Name</th>
                        <th class="w110"> Mobile</th>
                        <!-- <th class="w100 text-right"> Target</th>
                        <th class="w110 text-right"> Credit Limit</th> -->
                        <th class="w120">Segments</th>
                        <th>Address</th>
                        <th class="w60" *ngIf="role==1">Action</th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-head bdrt">
                    <form>
                      <table>
                        <tr>
                          <th class="w100">
                            <div class="th-search-acmt fix-date">
                            </div>
                          </th>
                          <th class="w190">
                            <div class="th-search">
                              <input type="text" (keyup)="distribution_list()" name="companyname" #companyname="ngModel" [(ngModel)]="filter.companyname" placeholder="Search....">
                              
                            </div>
                          </th>
                          <th class="w190">
                            <div class="th-search">
                              <input type="text" (keyup)="distribution_list()" name="nameOfApplicant" #nameOfApplicant="ngModel" [(ngModel)]="filter.nameOfApplicant" placeholder="Search....">
                              
                            </div>
                          </th>
                          <th class="w110">
                            <div class="th-search">
                              <input type="text" (keyup)="distribution_list()" name="mobile" #mobile="ngModel" [(ngModel)]="filter.mobile" placeholder="Search....">
                              
                            </div>
                          </th>
                          <!-- <th class="w100">&nbsp;</th>
                          <th class="w110">&nbsp;</th> -->
                          <th  class="w120">
                            <div class="th-search">
                              <mat-select placeholder="Select" id="segment" name="segment" [(ngModel)]="filter.segment" #segment="ngModel"  multiple>
                                <mat-option value="{{segment.text}}" (click)="distribution_list()" *ngFor='let segment of segmentlist'>{{segment.text}}</mat-option>
                              </mat-select>
                            </div>
                          </th>
                          <!-- <th *ngIf="role==1"></th> -->
                          <th >
                            <div class="th-search">
                              <mat-select placeholder="Select State" id="state" name="state" [(ngModel)]="filter.state" #state="ngModel">
                                <mat-option value="" (click)="distribution_list()" selected>All</mat-option>
                                <mat-option value="{{stat}}" (click)="distribution_list()" *ngFor='let stat of statelist'>{{stat}}</mat-option>
                              </mat-select>
                            </div>
                          </th>
                          
                          <th  class="w60">&nbsp;</th>
                        </tr>
                      </table>
                    </form>
                  </div>
                </div>
                <div class="table-container">
                  <div class="table-content">
                    <table>
                      <tr *ngFor="let retailer of distributionList">
                        <td class="w100">{{retailer.createdOn|date:'d MMM y'}}</td>
                        <td class="w190"><a class="link-btn" mat-button routerLink="/distribution-detail/{{retailer.networkId}}" routerLinkActive="active">{{retailer.establishment}}</a></td>
                        <td class="w190">{{retailer.nameOfApplicant}}</td>
                        <td class="w110">{{retailer.mobile}}</td>
                        <!-- <td class="w100 text-right">&#x20B9; {{retailer.targetLimit}}</td>
                        <td class="w110 text-right">&#x20B9; {{retailer.creditLimit}}</td> -->
                        <!-- <td > <span *ngFor="let segments of retailer.networkSegments">{{segments.segmentCode}},</span></td> -->
                        <td  class="w120"><ng-container *ngFor="let segments of retailer.networkSegments"><span>{{segments.segmentCode}},</span></ng-container></td>
                        <!-- <td *ngIf="role==1" class="w250">
                          <div class="tags"> 
                            <ul>
                              <li  *ngFor="let sales of retailer.networkSalesUsers"><span>{{sales.salesUserName}}</span></li>
                            </ul>
                          </div>
                        </td> -->
                        <td>{{retailer.state}}</td>
                        <td *ngIf="this.role==1" class="w60">
                          <div class="action-btns default-action">
                            <!-- <a mat-button class="edit"><i class="material-icons">add</i></a> -->
                            <button mat-button class="delete"  (click)="delete_network(retailer.networkId)"><i class="material-icons">delete_sweep</i></button>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="div" class="data-not-available" >
          <div class="outer">
            <div class="iinear">
              <div class="figure" matRipple>
                <div class="header">
                  <img src="assets/img/data-not-available-header.svg" alt="">
                </div>
                
                <div class="description">
                  <div class="img">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <div class="psc">
                    <p>data not available</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="userType==1" class="fixed-multibtn-botm">
        <ul>
          <li><a  matTooltip="Add New" matRipple><i class="material-icons" routerLink="/add-distribution" routerLinkActive="active">add</i></a></li>
        </ul>
      </div>
    </div>
    
    <div class="h50"></div>